[*]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.{appxmanifest,csproj,props,targets,xaml,xml}]
end_of_line = crlf
insert_final_newline = false

[*.{sln}]
indent_size = 4
indent_style = tab

[*.{plist}]
indent_style = tab

[*.{ps1,sh}]
indent_size = 4
indent_style = tab

[AndroidManifest.xml]
end_of_line = auto

[Resource.Designer.cs]
end_of_line = auto
