# Expected variables:
#   - BuildConfiguration
#   - DotNetCoreSdk.Version
#   - MSBuild.MSBuildArchitecture
#   - XamarinMac.MonoVersion

parameters:
  - name: project
  - name: msbuildArguments
  - name: debug
    default: false

steps:
  # - template: SetMacOSFrameworkVersion.yml
  #   parameters:
  #     framework: Mono
  #     version: $(XamarinMac.MonoVersion)
  - bash: |
      /bin/bash -c "sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh ${XAMARINMAC_MONOVERSION}"
    displayName: Set Xamarin Mono version to $(XamarinMac.MonoVersion)

  - task: DotNetCoreInstaller@1
    displayName: Install .NET Core $(DotNetCoreSdk.Version)
    inputs:
      packageType: sdk
      version: $(DotNetCoreSdk.Version)

  - task: UseDotNet@2
    displayName: Use .NET Core $(DotNetCoreSdk.Version)
    inputs:
      packageType: sdk
      version: $(DotNetCoreSdk.Version)

  - task: MSBuild@1
    displayName: Restore Packages
    inputs:
      solution: ${{ parameters.project }}
      msbuildArchitecture: $(MSBuild.MSBuildArchitecture)
      platform: AnyCPU
      msbuildArguments:
        /t:Restore
        ${{ parameters.msbuildArguments }}

  # TODO: Replace with MSBuildSteps
  - task: MSBuild@1
    displayName: Build ${{ parameters.project }}
    inputs:
      solution: ${{ parameters.project }}
      msbuildArchitecture: $(MSBuild.MSBuildArchitecture)
      configuration: $(BuildConfiguration)
      platform: AnyCPU
      msbuildArguments:
        /r
        ${{ parameters.msbuildArguments }}
      maximumCpuCount: $(MSBuild.MaximumCpuCount)
