# Expected variables:
#   - BuildConfiguration
#   - DotNetCoreSdk.Version
#   - MSBuild.MSBuildArchitecture
#   - XamarinMac.MonoVersion

parameters:
  project:
  msbuildArguments: ''
  debug: false

steps:
  - bash: |
      /bin/bash -c "sudo xcode-select -s /Applications/Xcode_${XCODE_VERSION}.app/Contents/Developer"
    displayName: Select Xcode $(Xcode.Version)

  - template: SetMacOSFrameworkVersion.yml
    parameters:
      framework: Mono
      version: $(XamarinMac.MonoVersion)

  - task: DotNetCoreInstaller@1
    displayName: Install .NET Core $(DotNetCoreSdk.Version)
    inputs:
      packageType: sdk
      version: $(DotNetCoreSdk.Version)

  - task: UseDotNet@2
    displayName: Use .NET Core $(DotNetCoreSdk.Version)
    inputs:
      packageType: sdk
      version: $(DotNetCoreSdk.Version)

  - task: MSBuild@1
    displayName: Restore Packages
    inputs:
      solution: ${{ parameters.project }}
      msbuildArchitecture: $(MSBuild.MSBuildArchitecture)
      msbuildArguments: /t:Restore

  # TODO: Replace with MSBuildSteps
  - task: MSBuild@1
    displayName: Build ${{ parameters.project }}
    inputs:
      solution: ${{ parameters.project }}
      msbuildArchitecture: $(MSBuild.MSBuildArchitecture)
      configuration: $(BuildConfiguration)
      platform: AnyCPU
      msbuildArguments:
        ${{ parameters.msbuildArguments }}
      maximumCpuCount: $(MSBuild.MaximumCpuCount)
