# Expected variables:
#   - DotNetCoreSdk.Version
#   - XamarinMac.MonoVersion

parameters:
  - name: displayName
  - name: project
  - name: platformVariableGroup
  - name: buildConfigurations
    type: object
    default: [ Debug, Release ]
  - name: msbuildArguments
  - name: debug
    default: false

jobs:
  - job:
    displayName: ${{ parameters.displayName }}

    variables:
    - group: Build - Apple
    - group: ${{ parameters.platformVariableGroup }}

    pool:
      vmImage: $(Job.VmImage)

    strategy:
      matrix:
        ${{ each configuration in parameters.buildConfigurations }}:
          ${{ configuration }}:
            BuildConfiguration: ${{configuration}}

    steps:
      - template: BuildMacOSSteps.yml
        parameters:
          project: ${{ parameters.project }}
          msbuildArguments: ${{ parameters.msbuildArguments }}
