# Expected variables:
#   - DotNetCoreSdk.Version
#   - XamarinAndroid.MonoVersion

parameters:
  - name: project
  - name: createAppPackage

steps:
  # - template: SetMacOSFrameworkVersion.yml
  #   parameters:
  #     framework: Mono
  #     version: $(XamarinAndroid.MonoVersion)

  # - template: SetMacOSFrameworkVersion.yml
  #   parameters:
  #     framework: Xamarin.Android
  #     version: $(XamarinAndroid.Version)

  - bash: |
      /bin/bash -c "sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh ${XAMARINANDROID_MONOVERSION}"

  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: $(DotNetCoreSdk.Version)

  - task: MSBuild@1
    displayName: Restore Packages
    inputs:
      solution: ${{ parameters.project }}
      msbuildArchitecture: $(MSBuild.MSBuildArchitecture)
      msbuildArguments: /t:Restore

  - task: XamarinAndroid@1
    displayName: Build ${{ parameters.project }}
    inputs:
      projectFile: ${{ parameters.project }}
      configuration: $(BuildConfiguration)
      createAppPackage: ${{ parameters.createAppPackage }}
      clean: false
