parameters:
  # name:
  - name: displayName
  - name: project
  - name: platformVariableGroups
    type: object
    default: []
  - name: platformVariableGroup # Until we can pass the group array above
  - name: buildPlatforms
    type: object
    default: []
  - name: buildConfigurations
    type: object
    default: [ Debug, Release ]
  - name: msbuildArguments
  - name: debug
    default: false

jobs:
  - job: #${{ parameters.name }}
    displayName: ${{ parameters.displayName }}

    variables:
      #${{each group in parameters.platformVariableGroups}}:
      - group: ${{ parameters.platformVariableGroup }}

    pool:
      vmImage: $(Job.VmImage)

    strategy:
      matrix:
        ${{ each configuration in parameters.buildConfigurations }}:
          ${{ each platform in parameters.buildPlatforms }}:
            "${{ platform }}|${{ configuration }}":
              BuildPlatform: ${{platform}}
              BuildConfiguration: ${{configuration}}

    steps:
      - checkout: self
        clean: false

      - template: MSBuildSteps.yml
        parameters:
          project: ${{ parameters.project }}
          msbuildArguments: ${{ parameters.msbuildArguments }}
          debug: ${{ parameters.debug }}
