# Expected variables:
#   - Release.Phase # Can't use?
#   - Job.VmImage
# Expected variables (macOS, iOS):
#   - BundleId
#   - BundleName
#   - TeamId

parameters:
  phase: # Alpha, Beta, Production (Omega)

# variables:
#   - group: Build - Global
#   - name: Release.Phase
#     value: Alpha
#   - name: BuildConfiguration
#     value: Release

variables:
  - group: Build - macOS
  - group: Distribute - Alpha
  - group: Distribute - Alpha - Apple
  - group: Distribute - Alpha - macOS
  - name: BuildPlatform
    value: AnyCPU
  - name: BundleShortVersionString
    value: $(BaseBuildVersion).$(BuildRevision)
  - name: BundleVersion
    value: $(BaseBuildVersion).$(BuildRevision)

steps:
  - task: PowerShell@2
    displayName: Set Version
    inputs:
      targetType: filePath
      filePath: $(Build.SourcesDirectory)/Scripts/Set-Version-Apple.ps1
      arguments:
        -InfoPlist $(Build.SourcesDirectory)/macOS/Info.plist
        -BundleId $(BundleId)
        -BundleName "$(BundleName)"
        -BundleShortVersionString $(BundleShortVersionString)
        -BundleVersion $(BundleVersion)
        -EntitlementsPlist $(Build.SourcesDirectory)/macOS/Entitlements.plist
        -TeamPrefix $(TeamId)

  - task: PowerShell@2
    displayName: Upate Assets
    inputs:
      targetType: inline
      script: |
        Copy-Item -Force -Recurse `
          -Path ${env:BUILD_SOURCESDIRECTORY}\Assets\${env:RELEASE_PHASE}\macOS\* `
          -Destination ${env:BUILD_SOURCESDIRECTORY}\macOS\

  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: com.unjammit.mac.app.p12
      certPwd: $(SigningKeyPassword)

  - task: InstallAppleProvisioningProfile@1
    displayName: Install Provisioning Profile
    inputs:
      provisioningProfileLocation: secureFiles
      provProfileSecureFile: com.unjammit.player.macos.alpha.provisionprofile

  - template: Templates/BuildMacOSSteps.yml
    parameters:
      project: macOS/Unjammit.macOS.csproj
      msbuildArguments:
        /p:EnableCodeSigning=true
