# Expected variables:
#   - BuildVersion
#   - Build.SourceVersion
#   - Release.Phase # Can't use?
#   - Job.VmImage
# Expected variables (macOS, iOS):
#   - BundleId
#   - BundleName
#   - TeamId

parameters:
  phase: # Alpha, Beta, Production (Omega)

steps:
  - powershell: |
      Write-Host "##vso[task.setvariable variable=ShortSourceVersion]$($env:BUILD_SOURCEVERSION.Substring(0, 7))"
    displayName: Set short source verison

  - task: PowerShell@2
    displayName: Set Version
    inputs:
      targetType: filePath
      filePath: $(Build.SourcesDirectory)/Scripts/Set-Version-Apple.ps1
      arguments:
        -InfoPlist $(Build.SourcesDirectory)/macOS/Info.plist
        -BundleId $(BundleId)
        -BundleName "$(BundleName)"
        -BundleShortVersionString $(BuildVersion)
        -BundleVersion $(ShortSourceVersion)
        -EntitlementsPlist $(Build.SourcesDirectory)/macOS/Entitlements.plist
        -TeamPrefix $(TeamId)

  - task: PowerShell@2
    displayName: Update Assets
    inputs:
      targetType: inline
      script: |
        Copy-Item -Force -Recurse `
          -Path ${env:BUILD_SOURCESDIRECTORY}\Assets\${env:RELEASE_PHASE}\macOS\* `
          -Destination ${env:BUILD_SOURCESDIRECTORY}\macOS\

  - task: InstallAppleCertificate@2
    displayName: Install Certificate
    inputs:
      certSecureFile: com.unjammit.generic.p12
      certPwd: $(SigningKeyPassword)

  #TODO: Use or remove
  - task: InstallAppleProvisioningProfile@1
    displayName: Install Provisioning Profile
    inputs:
      provisioningProfileLocation: secureFiles
      # provProfileSecureFile: com.unjammit.player.macos.devid.alpha.provisionprofile
      provProfileSecureFile: $(SigningCertificate)

  - template: BuildMacOSSteps.yml
    parameters:
      project: macOS/Unjammit.macOS.csproj
      msbuildArguments:
        /p:EnableCodeSigning=false
        /p:UseHardenedRuntime=false
#        /p:CodeSigningKey="$(APPLE_CERTIFICATE_SIGNING_IDENTITY)"
#        /p:CodeSignProvision="$(APPLE_PROV_PROFILE_UUID)"

  - bash: |
      codesign -v --force --timestamp=none --sign "${APPLE_CERTIFICATE_SIGNING_IDENTITY}" \
        Target/AnyCPU/Release/Unjammit.macOS/Unjammit.app
