# Expected variables:
#   - DotNetCoreSdk.Version
#   - XamarinAndroid.MonoVersion
#   - XamarinAndroid.Version

parameters:
  # name:
  displayName:
  project:
  platformVariableGroup: ''
  buildConfigurations: [ Debug, Release ]

  # XamarinAndroid
  createAppPackage: false
  buildForSimulator: true
  msbuildArguments: ''

  debug: false

jobs:
  - job:
    displayName: ${{ parameters.displayName }}

    variables:
      - group: ${{ parameters.platformVariableGroup }}

    pool:
      vmImage: $(Job.VmImage)

    strategy:
      matrix:
        ${{ each configuration in parameters.buildConfigurations }}:
            "${{ configuration }}":
              BuildConfiguration: ${{ configuration }}

    steps:
      - checkout: self
        clean: false

      # - template: SetMacOSFrameworkVersion.yml
      #   parameters:
      #     framework: Mono
      #     version: $(XamarinAndroid.MonoVersion)

      # - template: SetMacOSFrameworkVersion.yml
      #   parameters:
      #     framework: Xamarin.Android
      #     version: $(XamarinAndroid.Version)

      - bash: |
          /bin/bash -c "sudo $AGENT_HOMEDIRECTORY/scripts/select-xamarin-sdk.sh 6_8_0"
        displayName: Set Xamarin version.

      - task: DotNetCoreInstaller@1
        inputs:
          packageType: sdk
          version: $(DotNetCoreSdk.Version)

      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: $(DotNetCoreSdk.Version)

      - task: MSBuild@1
        displayName: Restore Packages
        inputs:
          solution: ${{ parameters.project }}
          msbuildArchitecture: $(MSBuild.MSBuildArchitecture)
          msbuildArguments: /t:Restore

      - task: XamarinAndroid@1
        displayName: Build ${{ parameters.project }}
        inputs:
          projectFile: ${{ parameters.project }}
          configuration: $(BuildConfiguration)
          createAppPackage: ${{ parameters.createAppPackage }}
          clean: false
