name: $(BuildId)

trigger:
  branches:
    include:
      - azure/pipes/init

variables:
  - group: Global Build Variables

jobs:

  # - template: Templates/MSBuild.yml
  #   parameters:
  #     displayName: Windows Universal
  #     project: UWP/Unjammit.UWP.csproj
  #     platformVariableGroup: Windows Build Variables
  #     buildPlatforms: [ x64, x86 ]
  #     # msbuildArguments:
  #     #   /p:AppxBundle=Always
  #     #   /p:AppxBundlePlatforms="$(BuildPlatform)"
  #     #   /p:UapAppxPackageBuildMode=StoreUpload
  #     #   /p:AppxPackageDir="$(Build.ArtifactStagingDirectory)\AppPackages\\"

  - template: Templates/XamariniOS.yml
    parameters:
      displayName: iOS
      project: iOS/Unjammit.iOS.csproj
      platformVariableGroup: iOS Build Variables
      debug: true

  - template: Templates/BuildMacOS.yml
    parameters:
      displayName: macOS
      project: macOS/Unjammit.macOS.csproj
      platformVariableGroup: macOS Build Variables
      msbuildArguments:
        /p:EnableCodeSigning=false

#        /p:XamarinMacFrameworkVersion=$(XamarinMac.FrameworkVersion)

  # - template: Templates/XamarinAndroid.yml
  #   parameters:
  #     displayName: Android
  #     project: Android/Unjammit.Android.csproj
  #     platformVariableGroup: Android Build Variables
  #     # msbuildArguments:
  #     #   /p:Configuration=Release
  #     #   /p:AndroidKeyStore=true
  #     #   /p:AndroidSigningKeyStore="$(AndroidSigningKeyStore)"
  #     #   /p:AndroidSigningKeyAlias="$(AndroidSigningKeyAlias)"
  #     #   /p:AndroidSigningKeyPass="$(AndroidSigningKeyPass)"
  #     #   /p:AndroidSigningStorePass="$(AndroidSigningStorePass)"
  #     debug: true

  # - template: Templates/MSBuild.yml
  #   parameters:
  #     displayName: Windows Forms
  #     project: WinForms/Jam.NET.csproj
  #     platformVariableGroup: Windows Build Variables
  #     buildPlatforms: [ AnyCPU ]
